*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 30%;
    border: 1px solid black;
    padding: 20px;
}

.container h1{
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.content label{
    font-weight: bold;
}

.content input{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.container p{
    font-weight: bold;
}

.option{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.container button{
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px;
    width: 80px;
}

.container button:hover{
    cursor: pointer;
}

.error-message {
    color: red;
    display: none;
    margin-top: 4px;
}

.error-message.active {
    display: block;
}